<% if (breadcrumbs && breadcrumbs.length) { %>
<nav class="breadcrumbs" aria-label="パンくずリスト">
  <ol class="breadcrumbs__list">
    <% breadcrumbs.forEach(function(crumb, index) { %>
    <li class="breadcrumbs__item">
      <% if (index < breadcrumbs.length - 1 && crumb.href) { %>
      <a href="<%= crumb.href %>" class="breadcrumbs__link"
        ><%= crumb.name %></a
      >
      <% } else { %>
      <span class="breadcrumbs__current" aria-current="page"
        ><%= crumb.name %></span
      >
      <% } %>
    </li>
    <% }); %>
  </ol>
</nav>
<% } %>
