<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <span class="header__logo-ja">三豊運輸株式会社</span>
      <span class="header__logo-en">Sanpo Transportation Co.</span>
    </div>
    <div class="header__lang-switch">
      <% if (lang === 'ja') { %> JP | <a href="/en/">EN</a>
      <% } else { %>
      <a href="/">JP</a> | EN <% } %>
    </div>
    <div class="header__menu-icon">☰ MENU</div>
  </div>
</header>
